<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Godon's cleaning company
    </title>

</head>

<body>

    <!--Introduction and navigation-->
    <div id="introduction", class="introduction">

        <nav>

            <h2>
                Gorgons cleaning company
            </h2>

            <!--Should include the company icon-->

            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>Why choose us</li>
                <li>Contact</li>
            </ul>

        </nav>

    </div>

    <!--About our company-->
    <section id="about" class="about">
        
        <div id="topic">
            About Us
        </div>

        <div id="description">

            <p>
                <span>Commercial and Residential Hygiene solutions</span> We’re a professional cleaning company dedicated to making homes, 
                offices, and commercial spaces cleaner, healthier, and more comfortable. Our team delivers reliable, detail-focused cleaning
                 services tailored to the unique needs of every client. From routine home cleaning to deep cleaning and commercial maintenance,
                  we use proven cleaning methods, quality products, and careful attention to detail to deliver results you can see and feel.
                  We believe a clean space is more than just a good first impression — it creates a healthier environment, saves you time, and
                   gives you peace of mind. That’s why we show up on time, work professionally, and treat every space with the care it deserves.
                    <span>Our goal is simple: leave every space spotless, every time.</span>
            </p>

            <a href="#services">Our services</a>
            
            <a href="#downloadcv">Download Portfolio</a>

        </div>

    </section>
    
    <!--The company services-->
    <section>

        <div id="services">
            Services
        </div>

        <div id="description">
            
        </div>

    </section>

    <!--Why choose us-->
    <!--Testimonials-->
    <!--Contacts-->
    <!--Our location-->

</body>

</html>