<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godon's cleaning company</title>
</head>
<body>

    <!--Introduction and navigation-->
    <div id="introduction", class="introduction">
        <nav>
            <h2>Gorgons cleaning company</h2>
            <ul>
                <li>About</li>
                <li>Services</li>
                <li>Queries | Contact</li>
            </ul>
        </nav>
    </div>

    <!--Introduction div-->
    <h1>Hello Customers</h1>
</body>
</html>